<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Outlay</title>
    <style>
         input{
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <form action="/incomes/delete?_method=DELETE" method="POST" id="deleteIncomef">
        <label for="_id">ID of income you want to delete:</label>
        <% if (typeof invalidId !== 'undefined') { %>
            <input type="text" name="_id" id="idField" required value="<%= invalidId %>">
            <% } else { %>
                <input type="text" name="_id" id="idField" required>
             <% } %>
        <button type="submit" >Delete income</button>
    </form>

    <% if (typeof message !=='undefined') { %>
      <p><%= message %></p>
    <% } else { %>
        <p></p>
    <% } %>

    <a href="/incomes">Back</a>
     
</body>
</html>